/* class . - id # */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    list-style: none;
}
#ft{
    width: 100%;
    height: auto;
    padding: auto;
    background-color: #fff;
    border-radius: 1px;
    border: solid burlywood 1px;
}
#logoD{
    width: 50px;
    height: 50%;
}
