/* class . - id # */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 16px; */
}

ul {
    list-style: none;
}
a {
    color: black;
    font-weight: 500;
}
h6{
    font-size: 13px;
}
/* #mn{
    border: #b9b7b7;
} */
#mn:hover {
    color: rgb(56, 124, 226);
    font-weight: 500;
    /* border-radius: 2px; */
    border-bottom: 2px solid rgb(56, 124, 226);
}


#logoD {
    width: 60%;
    height: auto;
    float: center;
}
#carousel_img{
    height: 450px;
}
@media screen and (max-width: 600px) {
    #logoD{
        width: 80%;
    }
    #carousel_img{
        height: 175px;
    }
}

#ca_img{
    width: auto;
    height: 300px;
    float: center;
    image-resolution: initial;
}

#icon{
    width: 15px;
    height: auto;
    float: left;
    margin-right: 5px;
}
/* li{
    width: 160px;
} */



#ft {
    text-align: center;
    width: 100%;
    height: auto;
    /* margin-top: 50px; */
    padding-top: 10px;
    padding-bottom: 1px;
    box-shadow: 2px 2px 4px #dfdbdb;
}


