@media screen and (min-width: 600px) {
    #tab3{
      display: none;
    }
  }
    @media screen and (max-width: 600px) {
  /* .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block; */
    #tab1{
      display: none;
    }
    #tab2{
      width: 100%;
    }
  }